{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'dashboard' %}">Go back</a></p>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<table>
    <thead>
        <tr>
            <th>Access type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for access in access_types %}
        <tr>
            {% if access == 'Create Payment' %}
            <td>{{access}}</td>
            <td>User can create payments on all accounts he has access to</td>
            {% elif access == 'Delete Payment' %}
            <td>{{access}}</td>
            <td>User can delete payments on all accounts he has access to</td>
            {% else %}
            <td>{{access}}</td>
            <td>User can approve and release payments on all accounts he has access to</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}