{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'dashboard' %}">Go back</a></p>
<p><a href="{% url 'bank-add' %}">New bank</a></p>
<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for bank in banks %}
        <tr>
            <td>{{bank.name}}</td>
            <td><a href="{% url 'bank-view' bank_id=bank.id %}">View</a></td>
            <td><a href="">Edit</a></td>
            <td><a href="{% url 'bank-delete' bank_id=bank.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}