<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'add-account' company_id=company.id %}">Add accounts</a>
    <a href="{% url 'company-delete' company_id=company.id %}">Delete</a>
    <a href="{% url 'company-list' %}">Go back to the list</a>
    <p>Company name: {{company.name}}</p>
    <p>Company country: {{company.country}}</p>
    <h2>Accounts:</h2>
    <table>
        <thead>
            <tr>
                <th>Iban number</th>
                <th>Swift code</th>
                <th>Bank</th>
            </tr>
        </thead>
            <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{account.iban_number}}</td>
                    <td>{{account.swift_code}}</td>
                    <td>{{account.bank}}</td>
                </tr>
            {% endfor %}
    </tbody>
    </table>
</body>
</html>