{% extends 'base.html' %}
{% block content %}

<p>Hello {{logged_admin.name}} {{logged_admin.surname}}!</p>
    <ul>
        <li><a href="{% url 'users-list' %}">Users</a></li>
        <li><a href="{% url 'company-list' %}">Companies</a></li>
        <li><a href="{% url 'accounts-list' %}">Accounts</a></li>
        <li><a href="{% url 'banks-list' %}">Banks</a></li>
        <li><a href="{% url 'accesses-list' %}">Access types</a></li>
        <li><a href="{% url 'admins-list' %}">Administrators</a></li>
      </ul>
      <ul>
        <li><a href="{% url 'log-out' %}">Logout</a></li>
      </ul>
{% endblock %}
