<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'user-edit' user_id=user.id %}">Edit User</a>
    <a href="">Delete user</a>
    <p>User name: {{user.name}}</p>
    <p>User Surname: {{user.surname}}</p>
    <p>Internal ID: {{user.internal_id}}</p>
    <p>Administrator: {{user.is_administrator|yesno}}</p>
    <p>Permission type: {{user.permission}}</p>
    <h1>Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>Bank</th>
                <th>IBAN</th>
                <th>Swift</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{account.company}}</td>
                <td>{{account.bank}}</td>
                <td>{{account.iban_number}}</td>
                <td>{{account.swift_code}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>