{% extends 'base.html' %}
{% block content %}
<body>
<p><a href="{% url 'users-list' %}">Go back</a></p>
    <a href="{% url 'user-edit' user_id=user.id %}">Edit User</a>
    <a href="{% url 'user-delete' user_id=user.id %}">Delete user</a>
    <a href="{% url 'user-add-accounts' user_id=user.id %}">Add accounts</a>
    <p>User name: {{user.name}}</p>
    <p>User Surname: {{user.surname}}</p>
    <p>Internal ID: {{user.internal_id}}</p>
    <p>Administrator: {{user.is_administrator|yesno}}</p>
    <p>Payment approver: {{user.is_payment_approver|yesno}}</p>
    <p>Payment creator: {{user.is_payment_creator|yesno}}</p>
    <p>Can Delete Payment: {{user.can_delete_payment|yesno}}</p>
<!--    <p>Permission type: {{user.access}}</p>-->
    <h1>Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>Bank</th>
                <th>IBAN</th>
                <th>Swift</th>
<!--                <th>Access type</th>-->
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{account.company}}</td>
                <td>{{account.bank}}</td>
                <td>{{account.iban_number}}</td>
                <td>{{account.swift_code}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}