<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <label for="user_name">User name:</label>
        <input type="text" name='name' id='user_name' placeholder="User name" value="{{user.name}}">
    <br>
    <label for="user_surname">User surname:</label>
        <input type="text" name='user_surname' id='user_surname' placeholder="User surname" value="{{user.surname}}">
    <br>
    <label for="internal_id">Internal ID:</label>
        <input type="text" name='internal_id' id='internal_id' placeholder="7-digit internal ID" value="{{user.internal_id}}">
    <br>
    <label for="permission_type">Permission type</label>
        <input type="text" name='permission_type' id='permission_type' placeholder="Permission type" value="{{user.permission_type}}">
    <br>
    <label for="administrator">Administrator</label>
        <input type="checkbox" name='administrator' id="administrator"
               {% if user.is_administrator %} checked {% endif %}>
    <br>
    <label for="accounts">Choose accounts:</label>
    <select name="accounts" id="accounts" multiple>
        {% for account in account %}
        <option value="account">{{account.iban_number}}</option>
        {% endfor %}
    </select>
</form>
</body>
</html>