{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'user-view' user_id=user.id %}">Back</a></p>
<table>
  <thead>
    <tr>
        <th>Company</th>
        <th>Bank</th>
        <th>Iban number</th>
        <th>Swift</th>
        <th>Add</th>
    </tr>
  </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{account.company}}</td>
            <td>{{account.bank}}</td>
            <td>{{account.iban_number}}</td>
            <td>{{account.swift_code}}</td>
            <td><input type="checkbox" name="account"/></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}